{{ form_start(form) }}
    {{ form_widget(form) }}

{#{{ form_row(form.user) }}#}
{#{% for regel in form.regel %}#}
    {#{{ form_row(regel.aantal) }}#}
    {#{{ form_row(regel.factuur) }}#}
    {#{{ form_row(regel.product) }}#}
{#{% endfor %}#}
<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
