<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    {% block stylesheets %}
    {% endblock %}
</head>
<body>
<nav class="site-header sticky-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2 d-none d-md-inline-block" href="{{ path('product_overview') }}">Home</a>
        <a class="py-2 d-none d-md-inline-block" href="{{ path('mollie_index') }}">Mollie</a>
        <a class="py-2 d-none d-md-inline-block" href="{{ path('product_index') }}">Products</a>
        <a class="py-2 d-none d-md-inline-block" href="{{ path('factuur_index') }}">Facturen</a>
        <a class="py-2 d-none d-md-inline-block" href="{{ path('cart_index') }}">Winkelwagen</a>
        {% if is_granted("IS_AUTHENTICATED_FULLY") %}
            <a class="py-2 d-none d-md-inline-block" href="{{ path('profile_index') }}">Mijn account</a>
            <a class="py-2 d-none d-md-inline-block" href="{{ path('fos_user_security_logout') }}">Logout</a>
        {% else %}
            <a class="py-2 d-none d-md-inline-block" href="{{ path('fos_user_security_login') }}">Login</a>
        {% endif %}
    </div>
</nav>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>
